.btn-hotline {
  display: inline-block;
  background-color: var(--accent-yellow);
  color: #000;
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
  font-size: 0.9rem;
  transition: 0.3s;
}
