<header>
  <div class="header-container">
    <div class="logo">
<a href="./index.html"><img
  src="./src/assets/favicon/logo_dienlanhbackkhoa.jpg"
  alt="Logo Điện Lạnh Bách Khoa"
  loading="eager"
/>    </a>
</div>

    <nav id="nav-menu">
      <ul>
        <li><a href="./index.html" active>Trang chủ</a></li>

        <li class="has-mega">
          <a href="./dich-vu.html" class="mega-trigger">
            Dịch vụ <i class="fas fa-caret-down"></i>
          </a>
          <div class="mega-menu">
            <div class="mega-container">
              <div class="mega-col">
                <h4><i class="fas fa-snowflake"></i> Điều Hòa</h4>
                <div class="service-list">
                  <a href="#">Sửa chữa điều hòa</a>
                  <a href="#">Bảo dưỡng & Vệ sinh</a>
                  <a href="#">Lắp đặt & Tháo dỡ</a>
                  <a href="#">Nạp gas điều hòa</a>
                </div>
              </div>
              <div class="mega-col">
                <h4><i class="fas fa-house-laptop"></i> Điện Lạnh</h4>
                <div class="service-list">
                  <a href="#">Sửa tủ lạnh tại nhà</a>
                  <a href="#">Sửa máy rửa bát</a>
                  <a href="#">Sửa máy sấy quần áo</a>
                  <a href="#">Sửa máy giặt cửa ngang</a>
                </div>
              </div>
              <div class="mega-col">
                <h4><i class="fas fa-tv"></i> Điện Tử</h4>
                <div class="service-list">
                  <a href="#">Sửa bếp từ, bếp điện</a>
                  <a href="#">Sửa Tivi 4K/OLED</a>
                  <a href="#">Sửa lò vi sóng</a>
                  <a href="#">Sửa bình nóng lạnh</a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li><a href="./bang-gia.html">Bảng giá</a></li>
        <li><a href="./tin-tuc.html">Tin tức</a></li>

        <li class="has-mega">
          <a href="./huong-dan.html" class="mega-trigger">
            Hướng dẫn <i class="fas fa-caret-down"></i>
          </a>
          <div class="mega-menu">
            <div class="mega-container">
              <div class="mega-col do-you-know">
                <h4><i class="fas fa-book"></i> <a href="./huong-dan.html">Hướng dẫn</a></h4>
                <div class="service-list">
                  <a href="#">Cách sử dụng điều hòa tiết kiệm điện</a>
                  <a href="#">Khi nào cần nạp gas?</a>
                  <a href="#">Dấu hiệu máy lạnh hỏng</a>
                  <a href="#">Tự vệ sinh máy lạnh tại nhà</a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li><a href="./lien-he.html">Liên hệ</a></li>
      </ul>
    </nav>

    <div class="search-box">
      <input type="text"/>
      <i class="fas fa-search"></i>
    </div>

    <div class="menu-toggle" id="mobile-toggle">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</header>

